*{
    margin: 0;
    padding: 0;
}
header  nav ul {
    

    background-color:#fff;
    
        text-decoration: none;
        list-style: none;
        display: flex;
        height: 70px;
         padding: 0 70px;
        align-items: center;
        justify-content: inherit;
}

header nav ul li {
    padding: 0 35px;
    font-weight: 600;
    font-size: 18px;
}
.logo img{
    width: 115px;
}
.data{
  
  border-radius: 7px;
  margin-right: 20px;
  margin-left: 50px;
}
.data input{
    outline: 0;
    padding: 3px 100px 3px 15px ;
    border-radius: 5px;
    border: 2px solid rgba(0 0 0 );
    color: black
}
.data input:hover{
    
    outline: 0;
}
.button{
    padding:3px 7px;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    outline: 0;
    border: 2px solid #111;
    cursor: pointer;
}
.button:hover{
    background-color: black;
    color: #fff;
}
.container{
    height: calc(100vh - 10vh - 70px);
}
footer {
    height: 10vh;
   text-transform: capitalize;
   font-size: 18px;
   font-weight: 600;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}